
body {
    background-color: aliceblue;
}

form {
border: 3px solid lightblue;
width: 70%;
box-sizing: border-box; }

input[type="submit"]:hover {
 opacity: 0.8;
 cursor: pointer;
}

input[type="submit"] {
    background-color: lightpink;
}