body {
    font-size: 12px;
    font-family: sans-serif;
    background-color: #2c3e50;
}

h1 {
    text-align: center;
    margin: 40px;
    font-size: 30px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000;
    font-family: 'Cherry Swash', cursive;
}

nav {
    width: 575px;
    height: 50px;
    margin: 27px auto;
    background-color: #34495e;
    border-radius: 8px;
}

nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

nav a:nth-child(1),
nav a:nth-child(3) {
    width: 100px;
}

nav a:nth-child(2) {
    width: 110px;
}

nav a:nth-child(4) {
    width: 130px;
}

nav a:nth-child(5) {
    width: 120px;
}

nav a:hover {
    background-color: #1abc9c;
    border-radius: 8px;
}


figure {
    float: left;
    width: 144px;
    height: 153px;
    margin: 10px;
    position: relative;
}

figure img {
    width: 144px;
    height: 153px;
    display: inline-block;
    transition: transform 2s linear;
}

figcaption {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    opacity: 0.9;
    padding: 10px;
    z-index: 10;
    border-radius: 6px;
    font-size: 12px;
    color: deeppink;
}

figure:hover figcaption {
    display: block;
}

figure:hover img {
    transform: rotate(360deg);
}