* {
  margin: 0;
  padding: 0;
}

body {
  margin: 3em;
  background-color: lightpink;
  color: black;
  position: relative;
  overflow: hidden;
}

h2 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: white;
}

.container {
  position: relative;
  width: 100%;
  height: 80vh;
}

.zdj {
  position: absolute;
  text-align: center;
  cursor: pointer;
  opacity: 0.8;
  transition: transform 0.4s ease, opacity 0.4s ease, z-index 0.4s ease;
}

.zdj img {
  width: 250px;
  height: auto;
  display: block;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  border: 2px solid hotpink;
  border-radius: 25px;
}

.zdj p {
  position: absolute;
  font-family: 'Times New Roman', Times, serif;
  top: 80%;
  left: 50%;
  color: white;
  background-color: hsla(0, 0%, 0%, 0.7);
  font-size: 10px;
}

.zdj:nth-child(1) { top: 50px; left: 100px; transform: rotate(-10deg); }
.zdj:nth-child(2) { top: 120px; left: 300px; transform: rotate(15deg); }
.zdj:nth-child(3) { top: 200px; left: 180px; transform: rotate(-5deg); }
.zdj:nth-child(4) { top: 80px; left: 500px; transform: rotate(8deg); }
.zdj:nth-child(5) { top: 250px; left: 400px; transform: rotate(-12deg); }


.zdj:hover {
  opacity: 1;
  z-index: 10;
  transform: scale(1.15) rotate(0deg);
}