.active {
    display: block !important;
}

.myText {
    display: none;
    height: 2em;
    line-height: 2em;
    text-align: center;
    font-size: 1em;
    border-bottom: 1px ridge #000;
}

.title {
    font-size: 1.5em;
    background-color: #ddd;
    height: 2em;
    line-height: 2em;
    text-align: center;
    border-bottom: 1px solid #000; 
}

.container {
    width: 20%;
}